<div class="grilla">
    <div id="laptops" class="producto">
        <img src="../../../assets/img/laptops.jpg" alt="">
        <a class="enlace">Laptops</a>
    </div>
    <div id="fragrances" class="producto">
        <img src="../../../assets/img/fragrances.jpg" alt="">
        <a class="enlace">Fragrances</a>
    </div>
    <div id="groceries" class="producto">
        <img src="../../../assets/img/groceries.jpg" alt="">
        <a class="enlace">Groceries</a>
    </div>
    <div id="smartphones" class="producto">
        <img src="../../../assets/img/smartphones.jpg" alt="">
        <a class="enlace">Smartphones</a>
    </div>
    <div id="skincare" class="producto">
        <img src="../../../assets/img/skincare.jpg" alt="">
        <a class="enlace">Skincare</a>
    </div>
    <div id="home" class="producto">
        <img src="../../../assets/img/home-decoration.jpg" alt="">
        <a class="enlace">Home-Decoration</a>
    </div>
</div>